@media screen and (max-width: 760px){

    header{
        flex-direction: column;
        justify-content: space-around;
    }

    header ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0;
      }
    

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    input{
        align-self: center;
        justify-content: space-between;
    }

    img{
        align-items: center;
    }

    .whatsapp-interativo select{
        border: 2px solid rgb(132, 14, 201); /* roxo no hover */
        cursor: pointer;
      }

    #botao-whatsapp{
        background-color: #1ebe5d;; /* roxo no hover */
      }


    footer{
        text-align: center;
    }
}